<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column vh">
  <nav class="navbar">
    <ul>
      <li class="nav"><a href="/">Home</a></li>
      <li class="nav"><a href="/dashboard">Dashboard</a></li>
      <li class="nav"><a href="/login">Login</a></li>
      <li class="nav"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="header">
    <h1 class="title"><a href="/">The Tech Blog</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>
</body>

</html>
<script src="/js/logout.js"></script>