:root {
    --primary: #F3F4F7;
    --secondary: #B6C1CD;
    --tertiary: #628BB7;
    --light-dark: #38434A;
    --dark: #333333;
    --border-radius: 0.3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1, h2 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }
  
  h2 a:visited {
    color: var(--tertiary);
  }
  
  h2 a {
    color: var(--primary);
  }
  
  header {
    margin-top: 50px;
  }
  
  main {
    margin: 20px auto;
    width: 84%;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  input {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
  }
  
  .card-header h2 {
    color: var(--primary);
  }
  
  .btn {
    font-size: 1.3rem;
    padding: 6px 8px;
    width: 100%;
    display: block;
    margin: 5px 0;
    color: var(--primary);
    border: none;
    background-color: var(--light-dark);
  }
  
  .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
  }
  
  .btn-inline {
    display: inline;
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    background-color: var(--dark);
  }
  
  .nav {
    margin: 0 20px;
    display: inline;
  }
  
  .nav a {
    color: var(--primary);
  }
  
  .header {
    padding: 3%;
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px var(--secondary);
  }
  
  .title {
    font-size: 3rem;
    color: var(--primary);
  }
  
  .title a {
    color: var(--dark);
  }
  
  .list-item:hover {
    background-color: var(--dark);
  }
  
  .footer a {
    display: inline-block;
    padding: 1em;
    margin-bottom: .5em;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .card {
    margin: 40px 0px;
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
  }
  
  .card-body {
    padding: 1%;
  }
  
  .form-label, .form-input, .form-textarea {
    display: block;
  }
  
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
  }
  
  .vh {
    min-height: 100vh;
  }
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .center {
    justify-content: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }